@import "partials/globals";
@import "partials/fonts";
@import "partials/base";
@import "partials/intro";
@import "partials/skills";
@import "partials/experience";
@import "partials/employment-status";
@import "partials/other-projects";
@import "partials/footer";
@import "partials/404";
