title: "PHP + Laravel"
email: alexander.gomzyakov@gmail.com
timezone: UTC
baseurl: "/"
permalink: "/:title/"
logo: 'assets/images/logo.png'
favicon: 'assets/images/favicon.ico'
author: gomzyakov
paginate: 30
disqus: 'gomzyakov'
locale: ru_ru
lang: ru_ru
feed_items: 10
feed_update_period: daily
feed_update_frequency: 1
markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    disable: false
highlighter: rouge
sass:
  sass_dir: _sass
  style: compressed

# Authors
authors:
  gomzyakov:
    name: gomzyakov
    display_name: gomzyakov
    avatar: 'assets/images/gomzyakov.png'
    email: alexander.gomzyakov@gmail.com
    web: https://github.com/gomzyakov
    twitter: https://github.com/gomzyakov
    description: "Author of Affiliates, a template available for WordPress, HTML, Ghost and Jekyll. You are currently previewing Jekyll template demo."

# Plugins
plugins:
- jekyll-paginate
- jekyll-sitemap
- jekyll-feed
- jekyll-seo-tag
- jekyll-archives
