<section class="section background">
  <div class="section__title">About me</div>
  <div class="section__content">

    <p>
      I'm currently developing a Q&amp;A service <a class="underline-link" href="https://answeropedia.org/en/"
        target="_blank">Answeropedia</a>. It's like Wikipedia, only for questions and answers. It is an <a
        class="underline-link" href="https://github.com/answeropedia" target="_blank">open source</a> project.
    </p>

    <p>
      As a software engineer, I enjoy bridging the gap between engineering and design &mdash; combining my technical
      knowledge with my keen eye to create a beautiful product.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably ride on MTB-bike, running, snowboarding
      or walk with my friends.
    </p>

  </div>
</section>